<% if @gists.blank? %>
  <h1><%= t('.no_gists') %></h1>
<% else%>
<h1><%= t('.gists') %></h1>
<h2><%= link_to t('.delete_all'), admin_delete_all_gists_path, method: :delete %></h2>

  <table>
    <tr>
      <th><%= t('.questions') %></th>
      <th><%= t('.user_name') %></th>
      <th><%= t('.URL') %></th>
    </tr>

    <%= render @gists %>
<% end %>

</table>
