
<h1><%= @question.title %></h1>

<h2>
  <%= t('.answers') %>
</h2>

<%=link_to t('.new_answer'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render partial: 'admin/answers/answer', collection: @question.answers %>
</ol>

<%= link_to t('.back', test: @question.test.title), admin_test_path(id: @question.test_id) %>
<%= link_to t('.delete'),
                admin_question_path(@question),
                method: :delete,
                data: { confirm: t('sure?') }%>
